.box1{
    @apply relative flex flex-col justify-center items-center lg:flex-row bg-gray rounded-2xl bottom-8 shadow-white px-6 py-6;
}
.box1::after{
    content: "";
    background: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 5%;
    right: -140px;
}

.box2{
    @apply relative justify-center items-center flex flex-col-reverse lg:flex-row bg-gray gap-4 py-[20px] rounded-2xl shadow-white my-6;
}

.box2::after{
    content: "";
    background: none;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    right: -140px;
}

@media only screen and (min-width: 768px) {
    .box1::after{
        background: url("../agenda/resources/blueline.svg") no-repeat;
    }

    .box2::after{ 
        background: url("../agenda/resources/blueline.svg") no-repeat;
    }
}
